.f_top {
  font-size: 1.125rem;
}

.f_gnb {
  font-size: 1.25rem;
}

body {
  position: relative;
  right: 0;
  transition: right 0.3s;
}
body.on {
  position: relative;
  right: 30%;
  transition: right 0.3s;
  z-index: 100;
}

.inner {
  width: 80%;
  margin: 0 auto;
}

#positive_wrap.sticky-header #pc_aside {
  top: 79px;
}

#header {
  position: relative;
  padding: 0 0 20px 0;
  position: fixed;
  background: #fff;
  transition: background 0.5s;
  width: 100%;
  z-index: 100;
}
#header .ham_menu .menu-trigger {
  position: relative;
  width: 30px;
  height: 30px;
}
#header .ham_menu .menu-trigger:focus {
  border: 0px dashed transparent;
}
#header .ham_menu .menu-trigger,
#header .ham_menu .menu-trigger span {
  display: inline-block;
  transition: all 0.4s;
  box-sizing: border-box;
}
#header .ham_menu .menu-trigger span {
  position: absolute;
  left: 0;
  width: 100%;
  height: .12rem;
  background-color: #000;
  border-radius: 4px;
}
#header .ham_menu .menu-trigger span:nth-of-type(1) {
  top: 11px;
}
#header .ham_menu .menu-trigger span:nth-of-type(2) {
  height: .1rem;
  top: 20px;
}
#header .ham_menu .menu-trigger span:nth-of-type(3) {
  top: 29px;
}
#header .ham_menu .menu-trigger.active-1 {
  transform: rotate(360deg);
}
#header .ham_menu .menu-trigger.active-1 span:nth-of-type(1) {
  transform: translateY(20px) rotate(-45deg);
  top: 0;
}
#header .ham_menu .menu-trigger.active-1 span:nth-of-type(2) {
  transform: translateY(0) rotate(45deg);
  top: 20px;
}
#header .ham_menu .menu-trigger.active-1 span:nth-of-type(3) {
  opacity: 0;
}
#header.sticky-header .ham_menu .menu-trigger span {
  background: #000;
}
#header.sticky-header .top_nav {
  display: none;
}
#header.sticky-header .top_nav ol li a {
  color: #000;
}
#header.sticky-header .flex::before {
  height: 40px;
  top: 42%;
}
#header.sticky-header .flex .h_logo {
  width: 57px;
}
#header.sticky-header .flex .navbar .global .icon:after {
  background: #000;
}
#header.sticky-header .flex .navbar .global .select button {
  color: #000;
}
#header.sticky-header .flex .h_logo a .p_show {
  display: none;
}
#header.sticky-header .flex .h_logo a .s_show {
  display: block;
}
#header .top_nav {
  display: flex;
  justify-content: end;
  align-items: center;
}
#header .top_nav .gl_logo {
  margin: 0 5% 0 0;
}
#header .top_nav ol {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 10px 0 0;
}
#header .top_nav ol li a {
  color: #707070;
  margin: 0 10px;
  border: 1px solid #707070;
  padding: 2px 7px;
}
#header .top_nav ol li:last-child a {
  margin: 0;
}
#header .flex {
  display: flex;
  padding: 0 3%;
  position: relative;
}
#header .flex::before {
  content: "";
  display: block;
  position: absolute;
  top: 60%;
  right: 0;
  width: 7px;
  background: #4275B1;
  height: 48px;
}
#header .flex:after {
  content: "";
  display: block;
  width: 100%;
  height: 7px;
  background: #4275B1;
  position: absolute;
  bottom: 0;
  left: 0;
}
#header .flex .h_logo {
  margin: 11px 5% 11px 0;
}
#header .flex .h_logo a .p_show {
  display: block;
}
#header .flex .h_logo a .s_show {
  display: none;
}
#header .flex .ff_box {
  width: 90%;
}
#header .flex .navbar {
  width: auto;
  display: flex;
  align-items: center;
}
#header .flex .navbar #my-menu {
  display: flex;
  justify-content: center;
  width: 100%;
  position: relative;
  z-index: 10;
}
#header .flex .navbar #my-menu.on {
  z-index: -1;
}
#header .flex .navbar #my-menu > li {
  position: relative;
  text-align: center;
  width: 15%;
}
#header .flex .navbar #my-menu > li:nth-child(3) .s_first {
  width: 255px;
}
#header .flex .navbar #my-menu > li a {
  padding: 25px 0px;
  font-weight: 600;
}
#header .flex .navbar #my-menu > li.fox > a {
  position: relative;
  transform: skew(-0.1deg);
}
#header .flex .navbar #my-menu > li.fox:hover > a {
  transition: all 0.1s;
  color: #4275B1;
  position: relative;
}
#header .flex .navbar #my-menu > li .s_first {
  text-align: center;
  width: 200px;
  background: #fff;
  box-shadow: none;
  left: 50%;
  transform: translateX(-50%);
  top: 73px;
  position: absolute;
  box-sizing: border-box;
  z-index: 1;
  border: 1px solid #eee;
}
#header .flex .navbar #my-menu > li .s_first li {
  border-bottom: 1px solid #ddd;
}
#header .flex .navbar #my-menu > li .s_first li:last-child {
  border-bottom: 0;
}
#header .flex .navbar #my-menu > li .s_first li:hover {
  background: #4275B1;
}
#header .flex .navbar #my-menu > li .s_first li:hover a {
  color: #fff;
}
#header .flex .navbar #my-menu > li .s_first li a {
  padding: 15px 30px;
  font-weight: 400;
  transform: skew(-0.1deg);
}
#header .flex .navbar #my-menu > li .s_first .flex {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: inherit;
}
#header .flex .navbar #my-menu > li .s_first .left {
  background: #255D84;
  padding: 0.9375rem 0;
  min-height: 28.125rem;
  overflow: auto;
  max-height: calc(100vh - 10rem);
  width: 35%;
}
#header .flex .navbar #my-menu > li .s_first .left .box {
  text-align: left;
}
#header .flex .navbar #my-menu > li .s_first .left .box a {
  padding: 15px 25px;
  position: relative;
}
#header .flex .navbar #my-menu > li .s_first .left .box a.active {
  background: #2B7FBB;
}
#header .flex .navbar #my-menu > li .s_first .left .box a.active:after {
  content: "";
  height: 0;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-left: 13px solid #FF9C07;
  position: absolute;
  top: 20px;
  right: 17px;
}
#header .flex .navbar #my-menu > li .s_first .right {
  width: 65%;
  min-height: 28.125rem;
  overflow: auto;
  max-height: calc(100vh - 10rem);
  text-align: left;
  padding: 10px 0 0;
}
#header .flex .navbar #my-menu > li .s_first .right .list li a {
  padding: 15px;
}
#header .flex .navbar #my-menu > li .s_first .right .tab-content {
  padding: 0 1.875rem;
}
#header .flex .navbar #my-menu > li .s_first .s_last {
  position: absolute;
  top: 0;
  left: 100%;
  width: 100%;
  height: 100%;
}
#header .flex .navbar .global {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  justify-content: end;
}
#header .flex .navbar .global.on .select ul {
  opacity: 1;
  transition: opacity 0.6s;
}
#header .flex .navbar .global .icon {
  width: 28px;
  margin: 0 15px 0 0;
  position: relative;
}
#header .flex .navbar .global .icon .p_show {
  display: inline-block;
}
#header .flex .navbar .global .icon .s_show {
  display: none;
}
#header .flex .navbar .global .icon:after {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  top: 5px;
  width: 2px;
  height: 15px;
  background: #fff;
}
#header .flex .navbar .global .select button {
  background: none;
  background-color: transparent;
  background: 0 0;
  padding: 5px 0;
  border: 0;
  color: #fff;
  font-weight: 600;
  font-size: 17px;
  font-family: "NanumSquare", sans-serif;
}
#header .flex .navbar .global .select ul {
  position: absolute;
  top: 40px;
  left: 0;
  width: 100%;
  background: #255D84;
  color: #fff;
  opacity: 0;
  transition: opacity 0.6s;
}
#header .flex .navbar .global .select ul li {
  padding: 10px 5px;
  text-align: center;
  border-bottom: 1px solid #2B7FBB;
}
#header .flex .navbar .global .select ul li:last-child {
  border: 0;
}

#footer {
  background: #E5E5E5;
}
#footer .inner {
  padding: 50px 0 0;
  max-width: 100%;
  width: 90%;
}
#footer .inner #f_logo {
  margin: 0 3% 0 0;
}
#footer .inner .f_nav {
  display: flex;
  justify-content: flex-start;
  margin: 0 0 25px 0;
}
#footer .inner .f_nav li {
  margin: 0 25px 0 0;
  text-align: center;
  position: relative;
}
#footer .inner .f_nav li:last-child:after {
  display: none;
}
#footer .inner .f_nav li:after {
  content: "";
  display: block;
  width: 1px;
  height: 13px;
  background: #AFAFAF;
  position: absolute;
  top: 50%;
  right: -15px;
  transform: translateY(-50%);
}
#footer .inner .f_nav li a {
  color: rgba(0, 0, 0, 0.5);
  transform: skew(-0.1deg);
}
#footer .foo_gnb {
  padding: 40px 0 30px;
  display: flex;
  justify-content: space-between;
  position: relative;
}
#footer .foo_gnb:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background: #AFAFAF;
}
#footer .foo_gnb:after {
  content: "";
  display: block;
  position: absolute;
  top: 6px;
  left: 0;
  width: 100%;
  height: 1px;
  background: #AFAFAF;
}
#footer .foo_gnb .f_box {
  display: flex;
  width: 80%;
}
#footer .foo_gnb .f_box ul {
  text-align: left;
  transform: skew(-0.1deg);
}
#footer .foo_gnb li {
  color: rgba(0, 0, 0, 0.5);
}
#footer .foo_gnb li:nth-child(2) {
  margin: 5px 0 20px;
}
#footer .foo_gnb li span {
  display: block;
}
#footer .foo_gnb li span b {
  color: rgba(0, 0, 0, 0.5);
  font-weight: 500;
}
#footer .sns_box ul {
  display: flex;
}
#footer .sns_box ul li {
  margin: 0 20px 0 0;
}
#footer .sns_box ul li:nth-child(2) {
  margin: 0 20px 0 0;
}
#footer .sns_box ul li:last-child {
  margin: 0;
}

#hd_box {
  position: fixed;
  width: 100%;
  height: 100%;
  display: block;
  background: rgba(0, 0, 0, 0.3);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  top: 0;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
  z-index: 100;
}
#hd_box.on {
  opacity: 1;
  visibility: visible;
}

#pc_aside {
  position: fixed;
  top: 116px;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  height: auto;
  background: #fff;
  border: 1px solid #e6e6e6;
  box-sizing: border-box;
  z-index: 100;
  display: none;
}
#pc_aside #m_menu {
  display: flex;
  justify-content: end;
  width: 58%;
  float: right;
  margin: 20px 2% 150px 0;
}
#pc_aside #m_menu li {
  width: 20%;
  text-align: center;
}
#pc_aside #m_menu li > a {
  display: none;
}
#pc_aside #m_menu li > .sub01 {
  text-align: center;
  margin: 15px 0 0;
}
#pc_aside #m_menu li > .sub01 > li {
  width: 100%;
  margin: 0 0 20px 0;
}
#pc_aside #m_menu li > .sub01 > li:hover a {
  font-weight: 700;
  color: #004987;
}
#pc_aside #m_menu li > .sub01 > li a {
  display: block;
  transform: skew(-0.1deg);
}

#aside {
  position: fixed;
  top: 0;
  left: 100%;
  width: 30%;
  height: 100%;
  background: #4275B1;
  z-index: 100;
  transition: left 0.3s;
  display: block;
  min-height: 100vh;
  overflow-y: scroll;
}
#aside.on {
  left: 70%;
  transition: left 0.3s;
  box-shadow: 0 0 2.4375rem 0.0625rem rgba(6, 13, 29, 0.6);
}
#aside ol {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #004987;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}
#aside ol li {
  width: 50%;
  padding: 11px;
  border-right: 1px solid rgba(255, 255, 255, 0.5);
}
#aside ol li:last-child {
  border: 0;
}
#aside ol li a {
  color: #fff;
  display: block;
  text-align: center;
  font-weight: 700;
  transform: skew(-0.1deg);
}
#aside #m_menu > li {
  position: relative;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}
#aside #m_menu > li.selected i:after {
  transform: rotate(-45deg);
  transition: transform 0.5s;
}
#aside #m_menu > li.selected a {
  border-bottom: 1px solid #fff;
}
#aside #m_menu > li a {
  color: #fff;
  padding: 15px 20px;
  position: relative;
  font-weight: 600;
  text-align: left;
  transform: skew(-0.1deg);
}
#aside #m_menu > li a i {
  width: 100px;
  height: 100px;
  margin-right: 5px;
  width: 10px;
  height: 10px;
}
#aside #m_menu > li a i::after {
  position: absolute;
  right: 23px;
  top: 23px;
  content: "";
  width: 5px;
  height: 5px;
  border-top: 2px solid #FF9C07;
  border-right: 2px solid #FF9C07;
  transform: rotate(135deg);
  transition: transform 0.5s;
}
#aside #m_menu > li .sub01 > li {
  background: #004987;
}
#aside #m_menu > li .sub01 > li a {
  padding: 15px 20px;
}
#aside .m_nav .top_nav .gl_logo {
  margin: 15px 0 30px;
  text-align: center;
}

@media (max-width: 1920px) {
  #pc_aside #m_menu {
    margin: 20px 3.5% 150px 0;
  }
}
@media (max-width: 1600px) {
  .inner {
    width: 90%;
  }
  #pc_aside {
    width: 90%;
  }
  #pc_aside #m_menu {
    margin: 20px 3.5% 150px 0;
  }
}
@media (max-width: 1280px) {
  .f_gnb {
    font-size: 1rem;
  }
  .f_top {
    font-size: 1rem;
  }
  #header .flex::before {
    top: 58%;
  }
  #header .flex .navbar .global {
    padding: 8px 0 18px 0;
  }
  #header .flex .navbar #my-menu > li {
    width: 18%;
  }
  #header .flex .navbar #my-menu > li .s_first {
    top: 70px;
  }
  #footer .inner #f_logo {
    width: 120px;
  }
  #pc_aside {
    top: 110px;
  }
  #pc_aside #m_menu {
    width: 70%;
    margin: 0 4.3% 150px 0;
  }
}
@media (max-width: 1024px) {
  body.on {
    right: 50%;
  }
  #header.sticky-header .flex .h_logo {
    width: 70px;
  }
  #header {
    padding: 0 0 15px 0;
  }
  #header .ham_menu {
    display: block;
  }
  #header .top_nav {
    display: none;
  }
  #header .flex::before {
    display: none;
  }
  #header .flex .h_logo {
    width: 70px;
  }
  #header .flex .ff_box {
    margin: 0;
    width: auto;
    margin: 15px 0 0;
  }
  #header .flex .navbar {
    position: absolute;
    right: 0;
  }
  #header .flex .navbar #my-menu {
    display: none;
  }
  #header .flex .h_logo {
    margin: 0;
  }
  #aside {
    width: 50%;
  }
  #aside.on {
    left: 50%;
  }
  #footer .inner {
    padding: 30px 0 0;
  }
  #footer .inner #f_logo {
    margin: 0 0 20px 0;
  }
  #footer .foo_gnb {
    padding: 30px 0;
  }
  #footer .foo_gnb .f_box {
    flex-direction: column;
  }
  #pc_aside {
    display: none;
  }
  #pc_aside.on {
    display: none;
  }
}
@media (max-width: 768px) {
  #header .inner {
    height: 100%;
  }
  #header .flex:after {
    height: 5px;
  }
  #footer .inner #f_logo {
    width: 80px;
  }
  #footer .inner .f_nav {
    flex-wrap: wrap;
    margin: 5px 0;
  }
  #footer .inner .f_nav li {
    margin: 0 0px 10px;
    flex: 1 1 30%;
  }
  #footer .inner .f_nav li:after {
    right: 0;
  }
  #footer .inner .f_nav li:nth-of-type(3n):after {
    display: none;
  }
  #footer .foo_gnb .f_box {
    width: 100%;
  }
  #footer .foo_gnb .sns_box {
    position: absolute;
    top: 27px;
    right: 0;
  }
  #footer .foo_gnb .sns_box ul {
    justify-content: end;
  }
  #footer .foo_gnb .sns_box li {
    margin: 0 12px 0 0;
    width: 20%;
  }
  #footer .foo_gnb .sns_box li:first-child {
    margin: 1px 12px 0 0;
  }
  #footer .foo_gnb .sns_box li:nth-child(2) {
    margin: 0 12px 0 0;
  }
  #footer .foo_gnb .sns_box li:last-child {
    width: 15%;
    margin: 0;
  }
}
@media (max-width: 540px) {
  body.on {
    right: 80%;
  }
  #aside {
    width: 80%;
  }
  #aside.on {
    left: 20%;
  }
}
@media (max-width: 480px) {
  #header.sticky-header .flex .h_logo {
    width: 60px;
  }
  #header .flex .ff_box {
    margin: 10px 0 0;
  }
  #header .flex .h_logo {
    width: 60px;
  }
  #header .ham_menu .menu-trigger {
    width: 25px;
  }
}
@media (max-width: 414px) {
  .f_top {
    font-size: 0.9rem;
  }
  .f_gnb {
    font-size: 0.9rem;
  }
  #header {
    padding: 0 0 10px 0;
  }
}
@media (max-width: 360px) {
  #footer .agree_box a {
    margin: 0 10px;
  }
}/*# sourceMappingURL=main_common.css.map */
