.ma_title {
  font-size: 3.125rem;
}

.ma_s_title {
  font-size: 1.25rem;
}

.ma_bic {
  font-size: 5.5625rem;
}

.ma_namal {
  font-size: 1.875rem;
}

.ma_txt {
  font-size: 1.5625rem;
}

.ma_box {
  font-size: 1.125rem;
}

.ma_small {
  font-size: 1.1875rem;
}

.ma_cate {
  font-size: 2.5rem;
}

#contents {
  padding-top: 143px;
}

#deps01 .main_visual {
  overflow: hidden;
}
#deps01 .mainSwiper {
  position: relative;
}
#deps01 .mainSwiper .swiper-slide {
  width: 100%;
  height: 95vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
#deps01 .mainSwiper .swiper-slide.slide01 {
  background-image: url("../img/main_visual.jpg");
}
#deps01 .mainSwiper .swiper-slide.slide02 {
  background-image: url("../img/main_visual.jpg");
}
#deps01 .mainSwiper .swiper-slide.slide03 {
  background-image: url("../img/main_visual.jpg");
}
#deps01 .mainSwiper .swiper-slide .txt {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#deps01 .mainSwiper .swiper-slide .txt h3 {
  font-weight: 400;
  position: relative;
  text-align: center;
  padding: 0 0 10px 0;
}
#deps01 .mainSwiper .swiper-slide .txt h3 small {
  display: block;
  padding: 0 0 0 10px;
  font-weight: 600;
  text-align: left;
}
#deps01 .mainSwiper .swiper-slide .txt h3 b {
  color: #4275B1;
}
#deps01 .mainSwiper .swiper-slide .txt h3:after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 85px;
  height: 5px;
  background: #4275B1;
}
#deps01 .mainSwiper .swiper-slide .txt p {
  text-align: center;
  margin: 5% 0 10%;
}
#deps01 .mainSwiper .swiper-slide .txt p b {
  font-weight: 600 !important;
  transform: skew(-0.1deg);
}
#deps01 .mainSwiper .swiper-slide .txt p span {
  transform: skew(-0.1deg);
}
#deps01 .mainSwiper .swiper-slide .btn {
  width: 100%;
}
#deps01 .mainSwiper .swiper-slide .btn ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
#deps01 .mainSwiper .swiper-slide .btn ul li.active {
  margin: 0 2% 0 0;
}
#deps01 .mainSwiper .swiper-slide .btn ul li.active a {
  background: #1F84DC;
  border: 2px solid #1F84DC;
  transition: all 500ms ease-in-out;
  transform: skew(-0.1deg);
}
#deps01 .mainSwiper .swiper-slide .btn ul li.active a:hover {
  background: #fff;
  color: #1F84DC;
  border: 2px solid #fff;
}
#deps01 .mainSwiper .swiper-slide .btn ul li.active a:hover i::before {
  background: #1F84DC;
}
#deps01 .mainSwiper .swiper-slide .btn ul li.active a:hover i::after {
  background: #1F84DC;
}
#deps01 .mainSwiper .swiper-slide .btn ul li a {
  color: #fff;
  border: 2px solid #fff;
  background: transparent;
  padding: 10px 40px;
  font-weight: 700;
  transition: all 500ms ease-in-out;
}
#deps01 .mainSwiper .swiper-slide .btn ul li a:hover {
  background: #fff;
  color: #1F84DC;
  border: 2px solid #fff;
}
#deps01 .mainSwiper .swiper-slide .btn ul li a:hover i::before {
  background: #1F84DC;
}
#deps01 .mainSwiper .swiper-slide .btn ul li a:hover i::after {
  background: #1F84DC;
}
#deps01 .mainSwiper .swiper-slide .btn ul li a i {
  position: relative;
  width: 10px;
  height: 10px;
  display: inline-block;
  margin: 0 0 0 5px;
}
#deps01 .mainSwiper .swiper-slide .btn ul li a i::before {
  content: "";
  display: block;
  width: 10px;
  height: 2px;
  background: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 500ms ease-in-out;
}
#deps01 .mainSwiper .swiper-slide .btn ul li a i::after {
  content: "";
  display: block;
  width: 2px;
  height: 10px;
  background: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 500ms ease-in-out;
}
#deps01 .mainSwiper .swiper-pagination {
  bottom: 150px;
}
#deps01 .mainSwiper .swiper-pagination-bullet {
  background: #fff;
  width: 10px;
  height: 10px;
  border-radius: 20px;
  transition: width 500ms ease-in-out;
}
#deps01 .mainSwiper .swiper-pagination-bullet-active {
  width: 30px;
}

#deps02 article {
  margin-bottom: 100px;
  position: relative;
  /*
  .academy{
      @include flex_between;
      position: relative;
      top: 80px;
      &:after{
          content: "";
          display: block;
          width: 90%;
          height: 2px;
          background: #AFAFAF;
          position: absolute;
          top: 90%;
          left: 50%;
          transform: translateX(-50%);
          z-index: -1;
      }
      li{
          text-align: center;
          .t_box {
              margin: 20px 0 0;
              p{
                  font-weight: 600;
              }
              .num{
                  border: 1px solid #AFAFAF;
                  display: inline-block;
                  border-radius: 100%;
                  font-weight: 600;
                  width: 45px;
                  height: 45px;
                  line-height: 45px;
                  position: relative;
                  background: #fff;
                  margin: 10px 0 0;
              }
          }
      }
  }
  */
}
#deps02 article:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 72%;
  background: #1F84DC;
  z-index: -1;
}
#deps02 article .title {
  text-align: center;
  color: #fff;
  max-width: 65%;
}
#deps02 article .txt {
  text-align: center;
  color: #fff;
  max-width: 65%;
}
#deps02 article .txt p {
  margin: 20px 0 70px;
  font-weight: 300;
}
#deps02 article .txt p b {
  font-weight: 600 !important;
}
#deps02 article .swiper_area {
  max-width: 65%;
  margin: 0 auto;
  position: relative;
  background: #F6F6F6;
  border-radius: 45px;
}
#deps02 article .swiper_area .academySwiper {
  position: relative;
  padding: 5%;
  width: 87%;
  overflow: hidden;
  margin: 0 auto;
  padding: 50px 0;
}
#deps02 article .swiper_area .academySwiper .swiper-slide {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
#deps02 article .swiper_area .academySwiper .swiper-slide p {
  font-size: 1.0625rem;
  color: #707070;
  font-weight: 600;
  margin: 20px 0 0;
  transform: skew(-0.1deg);
}
#deps02 article .swiper_area .swiper-button-next {
  background: url("../img/academy_next.png") no-repeat center/90px auto;
  right: -45px;
  width: 90px;
  transform: translateY(-50%);
  margin: 0;
  height: 90px;
}
#deps02 article .swiper_area .swiper-button-prev {
  background: url("../img/academy_prev.png") no-repeat center/90px auto;
  left: -45px;
  right: auto;
  width: 90px;
  height: 90px;
  transform: translateY(-50%);
  margin: 0;
}
#deps02 .top_bannner {
  border: 5px solid #4275B1;
  padding: 15px 30px;
  position: relative;
  top: -50px;
  z-index: 1;
  background: #FBFBFB;
  max-width: 1600px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#deps02 .top_bannner ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
#deps02 .top_bannner ul li {
  color: #707070;
  font-weight: 700;
}
#deps02 .top_bannner ul li:first-child {
  margin: 0 2% 0 0;
  width: 40%;
}
#deps02 .top_bannner ul li:first-child .top_box p {
  text-align: left;
  font-weight: 400;
  color: #000;
}
#deps02 .top_bannner ul li:first-child .top_box i {
  margin: 0 10px 0 0;
}
#deps02 .top_bannner ul li:last-child {
  width: 60%;
}
#deps02 .top_bannner ul li .top_box {
  display: flex;
  align-items: center;
  justify-content: center;
}
#deps02 .top_bannner ul li p {
  width: 100%;
  text-align: left;
  display: flex;
  align-items: center;
}
#deps02 .top_bannner ul li p b span {
  color: #4275B1;
  font-weight: 800;
}
#deps02 .top_bannner ul li p span {
  display: inline-block;
  color: #000;
  font-weight: 600;
}
#deps02 .top_bannner ul li .f_box {
  display: flex;
  align-items: center;
  justify-content: center;
}
#deps02 .top_bannner ul li .f_box .top_box {
  width: 50%;
  display: flex;
  justify-content: end;
}
#deps02 .top_bannner ul li .f_box .top_box:first-child {
  width: 65%;
}
#deps02 .top_bannner ul li .f_box .top_box:last-child i {
  visibility: hidden;
  width: 10px;
}
#deps02 .top_bannner ul li .f_box p b {
  display: flex;
  margin: 0 7px 0 0;
}
#deps02 .top_bannner ul li .f_box .box {
  display: flex;
  align-items: center;
}

#deps03 {
  padding: 0 0 100px 0;
  /*
  .thumb_box{
      display: flex;
      .le_box{
          width: 50%;
          position: relative;
          .txt{
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              flex-direction: column;

              box-sizing: border-box;
              padding: 5%;
              @include flex_center;
              color: #fff;
              .btn{
                  margin: 5% 0 0;
                  a{
                      color: #fff;
                      border: 1px solid #fff;
                      display: block;
                      padding: 0px 25px;
                      line-height: 40px;
                  }
              }
          }
          figure{
              position: relative;
              &:after{
                  content:"";
                  display: block;
                  position: absolute;
                  top: 0;
                  left: 0;
                  width: 100%;
                  height: 100%;
                  background: rgba(0,0,0,.1);
              }
          }


      }
      ul{
          width: 50%;
          display: flex;
          flex-wrap: wrap;
          height: 100%;
          li{
              position: relative;
              flex: 1 1 35%;
              figure{
                  position: relative;
                  &:after{
                      content:"";
                      display: block;
                      position: absolute;
                      top: 0;
                      left: 0;
                      width: 100%;
                      height: 100%;
                      background: rgba(0,0,0,.3);
                  }
              }
              .txt{
                  position: absolute;
                  top: 0;
                  left: 0;
                  width: 100%;
                  height: 100%;
                  box-sizing: border-box;
                  padding: 10%;
                  color: #fff;
                  .box{
                      height: 100%;
                      display: flex;
                      flex-direction: column;
                      flex-wrap: wrap;
                      justify-content: space-between;
                  }
                  .btn{
                      margin: 5% 0 0;
                      a{
                          color: #fff;
                          border: 1px solid #fff;
                          display: inline-block;
                          padding: 0px 25px;
                          line-height: 40px;
                          text-align: center;
                      }
                  }
              }
          }
      }
  }
  */
}
#deps03 .title {
  text-align: center;
  margin: 0 0 50px 0;
}
#deps03 .title p {
  margin: 20px 0 0;
  transform: skew(-0.1deg);
}
#deps03 .swiper_area {
  position: relative;
}
#deps03 .swiper {
  width: 90%;
  overflow: hidden;
  margin: 0 auto;
  padding: 0 10px 50px;
}
#deps03 .swiper-button-next {
  right: 0;
  width: 50px;
  height: 105px;
  transform: translateY(-70%);
  background: url("../img/thumb_next.png") no-repeat center/47px auto;
}
#deps03 .swiper-button-prev {
  left: 0;
  transform: translateY(-70%);
  background: url("../img/thumb_prev.png") no-repeat center/47px auto;
  width: 50px;
  height: 105px;
}
#deps03 .swiper-slide {
  background: #fff;
  height: calc((100% - 30px) / 2) !important;
  box-sizing: border-box;
  box-shadow: 0px 3px 9px #ddd;
  margin: 0 0 50px 0;
  overflow: hidden;
}
#deps03 .swiper-slide:hover figure img {
  transform: scale(1.2);
}
#deps03 .swiper-slide figure {
  width: 100%;
  overflow: hidden;
  position: relative;
}
#deps03 .swiper-slide figure:after {
  content: "";
  display: block;
  padding-bottom: 83%;
}
#deps03 .swiper-slide figure img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  position: absolute;
  left: 0;
  top: 0;
  transition: transform 800ms ease;
}
#deps03 .swiper-slide .txt {
  text-align: left;
  padding: 20px 15px 17px 15px;
}
#deps03 .swiper-slide .txt span {
  color: #747474;
  display: block;
  margin: 0 0 5px 0;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  font-size: 1.125rem;
  font-weight: 600;
}
#deps03 .swiper-slide .txt h4 {
  font-size: 1.25rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
#deps03 .swiper-slide .txt .date {
  color: #C8C8C8;
  text-align: right;
  margin: 10px 0 0;
  font-size: 0.9375rem;
  line-height: 1;
}
#deps03 .swiper-pagination-bullet {
  width: 20px;
  height: 20px;
  background: #fff;
  border: 1px solid #707070;
  margin: 0 15px 0 0;
}
#deps03 .swiper-pagination-bullet-active {
  background: #5E84D1;
  border: 1px solid #5E84D1;
}

#deps04 {
  display: none;
  margin: 0 0 100px 0;
}
#deps04 .title {
  text-align: center;
  margin: 0 0 50px 0;
}
#deps04 .title p {
  margin: 10px 0 0;
}
#deps04 .thumb_box ul {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  justify-content: space-between;
}
#deps04 .thumb_box ul li {
  width: 32%;
  margin: 0 1% 0 0;
}
#deps04 .thumb_box ul li:last-child {
  margin: 0;
}
#deps04 .thumb_box ul li .txt {
  margin: 30px 0;
  box-sizing: border-box;
  text-align: center;
}
#deps04 .thumb_box ul li .txt .box {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
}
#deps04 .thumb_box ul li .txt .box h4 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
#deps04 .thumb_box ul li .txt .box .line {
  width: 50px;
  height: 3px;
  background: #5DB234;
  margin: 15px auto;
}
#deps04 .thumb_box ul li .txt .box p {
  color: #AFAFAF;
  text-align: left;
  margin: 0 10%;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
#deps04 .thumb_box ul li .txt .btn {
  margin: 30px 0 0;
}
#deps04 .thumb_box ul li .txt .btn a {
  color: #5DB234;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  transition: all 500ms ease-in-out;
}
#deps04 .thumb_box ul li .txt .btn a:hover {
  font-weight: 600;
}
#deps04 .thumb_box ul li .txt .btn a:hover i {
  transform: rotate(180deg);
}
#deps04 .thumb_box ul li .txt .btn a i {
  width: 20px;
  height: 10px;
  position: relative;
  transition: all 500ms ease-in-out;
}
#deps04 .thumb_box ul li .txt .btn a i:before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #5DB234;
  height: 10px;
  width: 2px;
}
#deps04 .thumb_box ul li .txt .btn a i:after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #5DB234;
  width: 10px;
  height: 2px;
}

#deps05 {
  margin: 0 0 100px 0;
}
#deps05 ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#deps05 ul li {
  width: 50%;
  color: #fff;
}
#deps05 ul li:hover .arrow {
  transform: translateX(10px);
}
#deps05 ul li .arrow {
  transition: transform 500ms ease-in-out;
}
#deps05 ul li:first-child {
  background-color: #1F84DC;
}
#deps05 ul li:first-child .txt {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5% 5% 5% 13%;
}
#deps05 ul li:last-child {
  background-color: #5DB234;
}
#deps05 ul li:last-child .txt {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5% 13% 5% 9%;
}
#deps05 ul li .txt h3 a {
  font-weight: 500;
  color: #fff;
  text-align: left;
}
#deps05 ul li .txt p a {
  margin: 10px 0 0;
  color: rgba(255, 255, 255, 0.5);
  text-align: left;
}

@media (max-width: 1920px) {
  #deps01 .mainSwiper .swiper-slide {
    height: 90vh;
  }
  #deps01 .mainSwiper .swiper-slide .txt p {
    margin: 5% 0 7%;
  }
  #deps01 .mainSwiper .swiper-pagination {
    bottom: 100px;
  }
  #deps02 .top_bannner {
    max-width: 65%;
  }
}
@media (max-width: 1600px) {
  #deps02 .top_bannner {
    max-width: 85%;
  }
  #deps02 article .swiper_area {
    max-width: 85%;
  }
  #deps02 article .title {
    max-width: 85%;
  }
  #deps02 article .txt {
    max-width: 85%;
  }
  #deps03 {
    /*
    .thumb_box{
        .le_box{
            .txt{
                .btn{
                    a{
                        padding: 0px 18px;
                        line-height: 30px;
                    }
                }
            }
        }
        ul{
            li{
                .txt{
                    .btn{
                        a{
                            padding: 0px 18px;
                            line-height: 30px;
                        }
                    }
                }
            }
        }
    }
    */
  }
  #deps03 .ma_namal {
    font-size: 1.3rem;
  }
  #deps03 .ma_box {
    font-size: 1rem;
  }
  #deps05 .ma_cate {
    font-size: 2rem;
  }
  #deps05 .ma_box {
    font-size: 1rem;
  }
}
@media (max-width: 1360px) {
  #deps05 .ma_cate {
    font-size: 1.5rem;
  }
  #deps05 .ma_box {
    font-size: 0.9rem;
  }
  #deps05 ul li:first-child {
    height: 150px;
  }
  #deps05 ul li:first-child .txt {
    padding: 5% 5% 5% 10%;
    height: 100%;
  }
  #deps05 ul li:last-child {
    height: 150px;
  }
  #deps05 ul li:last-child .txt {
    padding: 5% 10% 5% 5%;
    height: 100%;
  }
  #deps05 ul li .txt h3 i {
    width: 50px;
    display: inline-block;
  }
  #deps05 ul li .txt .arrow {
    width: 35px;
  }
}
@media (max-width: 1280px) {
  .ma_bic {
    font-size: 4.5625rem;
  }
  .ma_title {
    font-size: 2.125rem;
  }
  .ma_s_title {
    font-size: 1rem;
  }
  #contents {
    padding-top: 137px;
  }
  #deps02 .ma_txt {
    font-size: 1.2rem;
  }
  #deps02 .top_bannner ul li p.ma_box {
    font-size: 1rem;
    transform: skew(-0.1deg);
  }
  #deps02 .top_bannner ul li:first-child .top_box p {
    transform: skew(-0.1deg);
  }
  #deps02 article .swiper_area .academySwiper {
    padding: 40px 0;
  }
  #deps02 article .txt p .none {
    display: none;
  }
  #deps03 .swiper-slide {
    margin: 0 0 25px 0;
  }
  #deps03 .swiper-slide .txt {
    padding: 20px 13px 17px 13px;
  }
  #deps03 .swiper-slide .txt span {
    font-size: 0.9rem;
    transform: skew(-0.1deg);
  }
  #deps03 .swiper-slide .txt h4 {
    transform: skew(-0.1deg);
    font-size: 1rem;
  }
  #deps04 .ma_namal {
    font-size: 1.5rem;
  }
  #deps04 .ma_small {
    font-size: 1rem;
  }
  #deps04 .thumb_box ul li .txt .box p {
    margin: 0 5%;
  }
  #deps04 .thumb_box ul li .txt .btn {
    margin: 20px 0 0;
  }
}
@media (max-width: 1024px) {
  .ma_bic {
    font-size: 3.4625rem;
  }
  .ma_txt {
    font-size: 1.2rem;
  }
  #contents {
    padding-top: 72px;
  }
  #deps02 article {
    padding: 50px 0 0;
    margin-bottom: 70px;
    /*
     .academy{
        flex-wrap: wrap;
        &::after{
            display: none;
        }
        li{
            flex: 1 1 30%;
            position: relative;
            margin: 0 0 50px 0;
            &:after{
                content:"";
                display: block;
                position: absolute;
                top: 90%;
                left: 50%;
                width: 100%;
                height: 2px;
                background: #AFAFAF;
                z-index: -1;
            }
            &:nth-of-type(3n){
                &:after{
                    display: none;
                }
            }
            &:last-child{

                &:after{
                    display: none;
                }
            }
        }
     }
     */
  }
  #deps02 article:after {
    height: 77%;
  }
  #deps02 article .title {
    margin: 50px auto 0;
  }
  #deps02 article .txt p {
    margin: 10px 0 50px;
  }
  #deps02 .top_bannner {
    max-width: 100%;
    top: 0;
    padding: 15px 5%;
  }
  #deps02 .top_bannner ul {
    flex-direction: column;
    width: 100%;
  }
  #deps02 .top_bannner ul li .top_box {
    justify-content: center;
  }
  #deps02 .top_bannner ul li:first-child {
    width: 88%;
  }
  #deps02 .top_bannner ul li:first-child .top_box i {
    width: auto;
  }
  #deps02 .top_bannner ul li:last-child {
    width: 88%;
    justify-content: start;
  }
  #deps02 .top_bannner ul li:last-child .f_box .top_box {
    margin: 0;
  }
  #deps02 .top_bannner ul li:last-child .f_box .top_box:last-child i {
    display: none;
  }
  #deps02 .top_bannner ul li:last-child .f_box .top_box:last-child p {
    margin: 0 0 0 20px;
  }
  #deps02 .top_bannner ul li:last-child .f_box .top_box i {
    width: auto;
    margin: 0 7px 0 0;
  }
  #deps03 {
    padding: 0 0 70px 0;
    /*
    .thumb_box{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .le_box{
            width: 80%;
        }
        ul{
            width: 80%;
        }
    }
    */
  }
  #deps03 .swiper {
    width: 88%;
  }
  #deps03 .swiper-button-next {
    background: url("../img/thumb_next.png") no-repeat center/30px auto;
  }
  #deps03 .swiper-button-prev {
    background: url("../img/thumb_prev.png") no-repeat center/30px auto;
  }
  #deps03 .swiper-pagination-bullet {
    width: 15px;
    height: 15px;
    margin: 0 7px 0 0;
  }
  #deps04 .thumb_box ul li {
    width: 48%;
  }
  #deps05 {
    margin: 0;
  }
  #deps05 ul {
    flex-direction: column;
  }
  #deps05 ul li {
    width: 100%;
  }
  #deps05 ul li:first-child {
    height: auto;
  }
  #deps05 ul li:first-child .txt {
    padding: 5% 15%;
  }
  #deps05 ul li:last-child {
    height: auto;
  }
  #deps05 ul li:last-child .txt {
    padding: 5% 15%;
  }
}
@media (max-width: 768px) {
  .ma_title {
    font-size: 1.8rem;
  }
  #contents {
    padding-top: 85px;
  }
  #deps01 .mainSwiper .swiper-slide .txt h3 {
    line-height: 1.3;
  }
  #deps01 .mainSwiper .swiper-slide .txt h3:after {
    display: none;
  }
  #deps01 .mainSwiper .swiper-slide .txt h3 small {
    padding: 0 0 10px 0;
    text-align: center;
  }
  #deps01 .mainSwiper .swiper-slide .txt p .none {
    display: none;
  }
  #deps02 article {
    margin-bottom: 0;
    /*
    .academy {
        li{
            flex: 1 1 42%;
            &:nth-of-type(2n){
                &::after{
                    display: none;
                }
            }
            &:nth-of-type(3n){
                &::after{
                    display: block;
                }
            }
        }
    }
    */
  }
  #deps02 article:after {
    height: 80%;
  }
  #deps02 article .txt p {
    margin: 15px 0 35px;
    font-size: 1.05rem;
    transform: skew(-0.1deg);
  }
  #deps02 article .swiper_area .academySwiper .swiper-slide p {
    font-size: 0.9rem;
    margin: 10px 0 0;
  }
  #deps02 article .swiper_area .swiper-button-prev {
    background: url("../img/academy_prev.png") no-repeat center/60px auto;
    width: 65px;
    height: 65px;
    left: -33px;
  }
  #deps02 article .swiper_area .swiper-button-next {
    background: url("../img/academy_next.png") no-repeat center/60px auto;
    width: 65px;
    height: 65px;
    right: -33px;
  }
  #deps02 article .swiper_area .academySwiper {
    width: 85%;
  }
  #deps02 .top_bannner ul li:first-child {
    margin: 0 0 15px 0;
    width: 100%;
  }
  #deps02 .top_bannner ul li:last-child {
    width: 100%;
  }
  #deps02 .top_bannner ul li:last-child .f_box .top_box i {
    margin: 0 13px 0 0;
  }
  #deps03 {
    padding: 50px 0;
    /*
    .thumb_box{
        .le_box{
            width: 100%;
        }
        ul{
            width: 100%;
        }
    }
    */
  }
  #deps03 .title p {
    margin: 15px 0 0;
  }
  #deps03 .swiper {
    width: 85%;
  }
  #deps04 {
    margin: 0 0 50px 0;
  }
  #deps05 ul li:first-child {
    height: 165px;
  }
  #deps05 ul li:first-child .txt {
    padding: 5%;
  }
  #deps05 ul li:last-child {
    height: 165px;
  }
  #deps05 ul li:last-child .txt {
    padding: 5%;
  }
}
@media (max-width: 640px) {
  #deps02 article {
    /*
    .academy{
        top: 50px;
    }
    */
  }
  #deps02 .top_bannner ul li p {
    align-items: start;
  }
  #deps02 .top_bannner ul li:last-child .f_box .top_box:first-child {
    width: 100%;
  }
  #deps02 .top_bannner ul li:last-child .f_box .top_box:last-child i {
    display: block;
    visibility: hidden;
  }
  #deps02 .top_bannner ul li:last-child .f_box .top_box:last-child p {
    margin: 0;
  }
  #deps02 .top_bannner ul li .f_box {
    flex-direction: column;
    justify-content: start;
    align-items: start;
  }
  #deps02 .top_bannner ul li .f_box .top_box {
    width: 100%;
  }
}
@media (max-width: 540px) {
  #deps02 article:after {
    height: 84%;
  }
  #deps02 article .swiper_area {
    border-radius: 35px;
  }
  #deps02 article .swiper_area .academySwiper {
    padding: 30px 0;
  }
  #deps02 .top_bannner {
    padding: 20px 15px 10px;
  }
  #deps02 .top_bannner ul li .f_box .top_box i {
    width: 57px;
    margin: 0 3% 0 0;
  }
  #deps04 .title p .none {
    display: none;
  }
}
@media (max-width: 480px) {
  .ma_bic {
    font-size: 2.4625rem;
  }
  .ma_box {
    font-size: 1rem;
  }
  #contents {
    padding-top: 75px;
  }
  #deps01 .mainSwiper .swiper-pagination {
    bottom: 25px;
  }
  #deps01 .mainSwiper .swiper-slide .txt h3 small {
    padding: 0 0 5px 0;
  }
  #deps01 .mainSwiper .swiper-slide .btn ul li a {
    padding: 10px 20px;
  }
  #deps01 .mainSwiper .swiper-slide .btn ul li a.ma_box {
    font-size: 0.8rem;
  }
  #deps02 .ma_txt {
    font-size: 1rem;
  }
  #deps02 article .swiper_area .academySwiper {
    padding: 25px 0;
  }
  #deps02 article .swiper_area .swiper-button-prev {
    background: url("../img/academy_prev.png") no-repeat center/55px auto;
    left: -25px;
    width: 55px;
    height: 55px;
  }
  #deps02 article .swiper_area .swiper-button-next {
    background: url("../img/academy_next.png") no-repeat center/55px auto;
    right: -25px;
    width: 55px;
    height: 55px;
  }
  #deps02 .top_bannner ul li:last-child {
    justify-content: start;
  }
  #deps02 .top_bannner ul li:last-child .f_box .top_box {
    width: 100%;
    justify-content: start;
  }
  #deps03 {
    /*
    .thumb_box {
        ul{
            li{
                flex: 1 1 100%;
                .txt{
                    text-align: center;
                    .box{
                        justify-content: center;
                    }
                }
            }
        }
    }
    */
  }
  #deps03 .swiper-slide {
    box-shadow: 0px 2px 4px #ddd;
  }
  #deps03 .swiper-button-next,
  #deps03 .swiper-button-prev {
    width: 20px;
    height: 50px;
  }
  #deps03 .swiper-button-next {
    background: url("../img/thumb_next.png") no-repeat center/20px auto;
  }
  #deps03 .swiper-button-prev {
    background: url("../img/thumb_prev.png") no-repeat center/20px auto;
  }
  #deps04 .thumb_box ul li {
    width: 100%;
    margin: 0 0 20px 0;
  }
  #deps04 .thumb_box ul li .txt .box p {
    margin: 0;
  }
}
@media (max-width: 414px) {
  .ma_bic {
    font-size: 1.8rem;
  }
  .ma_txt {
    font-size: 0.9rem;
  }
  .ma_box {
    font-size: 0.9rem;
  }
  .ma_title {
    font-size: 1.5rem;
  }
  #contents {
    padding-top: 70px;
  }
  #deps01 .mainSwiper .swiper-slide .txt h3 {
    padding: 0;
  }
  #deps02 .top_bannner ul li p {
    flex-wrap: wrap;
  }
}
@media (max-width: 360px) {
  #deps02 .top_bannner {
    padding: 20px 15px;
  }
}/*# sourceMappingURL=main_new.css.map */