@import "_mixin";


.ma_title{
   font-size: 3.125rem;
}

.ma_s_title{
   font-size: 1.25rem;
}

.ma_bic{
    font-size: 5.5625rem;
}

.ma_namal{
    font-size: 1.875rem;
}


.ma_txt{
    font-size: 1.5625rem;
}
.ma_box{
    font-size: 1.125rem;    
}

.ma_small{
    font-size: 1.1875rem;
}
.ma_cate{
    font-size: 2.5rem;
}

#contents{
    padding-top: 143px;
}

#deps01{
    .main_visual{
        overflow: hidden;
    }
    .mainSwiper{
        position: relative;
        .swiper-slide{
            width: 100%;
            height: 95vh;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            &.slide01{
                background-image: url("../img/main_visual.jpg");
               
            }
            &.slide02{
                background-image: url("../img/main_visual.jpg");
               
            }
            &.slide03{
                background-image: url("../img/main_visual.jpg");
               
            }
            .txt{
                height: 100%;
                @include flex_center;
                flex-direction: column;
                h3{
                    font-weight: 400;
                    position: relative;
                    text-align: center;
                    padding: 0 0 10px 0;
                    small{
                        display: block;
                        padding: 0 0 0 10px;
                        font-weight: 600;
                        text-align: left;
                    }
                    b{
                        color: #4275B1;
                    }

                    &:after{
                        content:"";
                        display: block;
                        position: absolute;
                        bottom: 0;
                        left: 50%;
                        transform: translateX(-50%);
                        width: 85px;
                        height: 5px;
                        background: #4275B1;
                    }
                }
                p{
                    text-align: center;
                    margin: 5% 0 10%;
                }
            }
            .btn{
                width: 100%;
                ul{
                    @include flex_center;
                    li{
                        &.active{
                            margin: 0 2% 0 0;
                            a{
                                background: #1F84DC;
                                border: 2px solid #1F84DC;
                                transition: all 500ms ease-in-out;
                                &:hover{
                                    background: #fff;
                                    color: #1F84DC;
                                    border: 2px solid #fff;
                                    i{
                                        
                                        &::before{
                                            background: #1F84DC;
                                        }
                                        &::after{
                                            background: #1F84DC;
                                        }
                                    }
                                }
                            }
                        }
                        a{
                            color: #fff;
                            border: 2px solid #fff;
                            background: transparent;
                            padding: 10px 40px;
                            font-weight: 700;
                            transition: all 500ms ease-in-out;
                            &:hover{
                                background: #fff;
                                color: #1F84DC;
                                border: 2px solid #fff;
                                i{
                                    
                                    &::before{
                                        background: #1F84DC;
                                    }
                                    &::after{
                                        background: #1F84DC;
                                    }
                                }
                            }
                            i{
                                position: relative;
                                width: 10px;
                                height: 10px;
                                display: inline-block;
                                margin: 0 0 0 5px;
                                
                                &::before{
                                    content:"";
                                    display: block;
                                    width: 10px;
                                    height: 2px;
                                    background: #fff;
                                    position: absolute;
                                    top: 50%;
                                    left: 50%;
                                    transform: translate(-50%,-50%);
                                    transition: all 500ms ease-in-out;
                                }
                                &::after{
                                    content:"";
                                    display: block;
                                    width: 2px;
                                    height: 10px;
                                    background: #fff;
                                    position: absolute;
                                    top: 50%;
                                    left: 50%;
                                    transform: translate(-50%,-50%);
                                    transition: all 500ms ease-in-out;
                                }
                            }
                        }
                    }
                }
            }
        }
        .swiper-pagination{
            bottom: 150px;
        }
        .swiper-pagination-bullet{
            background: #fff;
            width: 10px;
            height: 10px;
            border-radius: 20px;
            transition: width 500ms ease-in-out;
        }
        .swiper-pagination-bullet-active{            
            width: 30px;            
        }
    }
}

#deps02{
    article{
        
        margin-bottom: 100px;
        position: relative;
        &:after{
            content:"";
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 470px;
            background: #1F84DC;
            z-index: -1;
        }
        .title{
            text-align: center;
            color: #fff;
        }
        .txt{
            text-align: center;
            color: #fff;
            p{
                margin: 10px 0 0;
                font-weight: 300;
                b{
                    font-weight: 600!important;
                }
            }
        }
        .academy{
            @include flex_between;
            position: relative;
            top: 80px;
            &:after{
                content: "";
                display: block;
                width: 90%;
                height: 2px;
                background: #AFAFAF;
                position: absolute;
                top: 90%;
                left: 50%;
                transform: translateX(-50%);
                z-index: -1;
            }
            li{
                text-align: center;
                .t_box {
                    margin: 20px 0 0;
                    p{
                        font-weight: 600;
                    }
                    .num{
                        border: 1px solid #AFAFAF;
                        display: inline-block;
                        border-radius: 100%;
                        font-weight: 600;
                        width: 45px;
                        height: 45px;
                        line-height: 45px;
                        position: relative;
                        background: #fff;
                        margin: 10px 0 0;
                    }
                }
            }
        }
    }
    .top_bannner{
        border: 5px solid #4275B1;
        padding: 20px 30px;
        position: relative;
        top: -50px;
        z-index: 1;
        background: #FBFBFB;
        max-width: 1600px;
        @include flex_center;
        ul{
            @include flex_center;
            li{
                color: #707070;
                font-weight: 700;
                &:first-child{
                    margin: 0 2% 0 0;
                    width: 40%;
                    .top_box{
                        p{
                            overflow: hidden;
                            text-overflow: ellipsis;
                            display: -webkit-box;
                            -webkit-line-clamp: 2;
                            -webkit-box-orient: vertical;
                        }
                        i{
                            width: 57px;
                        }
                    }
                }
                &:last-child{
                    width: 60%;
                }
                .top_box{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    i{
                        margin: 0 3% 0 0;
                    }
                    
                }
                p{
                    width: 100%;
                    span{
                        display: inline-block;
                    }
                }
                .f_box{
                    display: flex;                    
                    align-items: center;
                    justify-content: center;
                    .top_box{
                        
                
                        display: flex;
                        justify-content: end;
                        &:last-child{
                          
                            i{
                                visibility: hidden;
                            }
                        }
                        i{
                            margin: 0;
                        }
                    }
                    p{
                     
                        b{
                            color: #4275B1;
                            width: 100px;
                        }
                        span{
                            width: auto;
                        }
                    }
                    .box{
                        display: flex;
                        align-items: center;
                    }
                }
            }
        }
    }
}

#deps03{
    padding: 100px 0;
    .title{
        text-align: center;
        margin: 0 0 50px 0;
        p{
            margin: 10px 0 0;
        }
    }
    .thumb_box{
        display: flex;
        .le_box{
            width: 50%;
            position: relative;
            .txt{
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                flex-direction: column;
              
                box-sizing: border-box;
                padding: 5%;
                @include flex_center;
                color: #fff;
                .btn{
                    margin: 5% 0 0;
                    a{
                        color: #fff;
                        border: 1px solid #fff;
                        display: block;
                        padding: 0px 25px;
                        line-height: 40px;
                    }
                }
            }
            figure{
                position: relative;
                &:after{
                    content:"";
                    display: block;
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background: rgba(0,0,0,.1);
                }
            }
            
            
        }
        ul{
            width: 50%;
            display: flex;
            flex-wrap: wrap;
            height: 100%;
            li{
                position: relative;
                flex: 1 1 35%;
                figure{
                    position: relative;
                    &:after{
                        content:"";
                        display: block;
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        background: rgba(0,0,0,.3);
                    }
                }
                .txt{
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    box-sizing: border-box;
                    padding: 10%;
                    color: #fff;
                    .box{
                        height: 100%;
                        display: flex;
                        flex-direction: column;
                        flex-wrap: wrap;
                        justify-content: space-between;
                    }
                    .btn{
                        margin: 5% 0 0;
                        a{
                            color: #fff;
                            border: 1px solid #fff;
                            display: inline-block;
                            padding: 0px 25px;
                            line-height: 40px;
                            text-align: center;
                        }
                    }
                }
            }
        }
    }
    
}

#deps04{
    margin: 0 0 100px 0;
    .title{
        text-align: center;
        margin: 0 0 50px 0;
        p{
            margin: 10px 0 0;
        }
    }
    .thumb_box{

        ul{
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            height: 100%;
            justify-content: space-between;
            li{
                width: 32%;
                margin: 0 1% 0 0;
                &:last-child{
                    margin: 0;
                }
                .txt{
                    margin: 30px 0;
                    box-sizing: border-box;
                    text-align: center;
                    .box{
                        height: 100%;
                        display: flex;
                        flex-direction: column;
                        flex-wrap: wrap;
                        justify-content: space-between;
                        h4{
                            overflow: hidden;
                            text-overflow: ellipsis;
                            display: -webkit-box;
                            -webkit-line-clamp: 1;
                            -webkit-box-orient: vertical;
                                     
                        }
                        .line{
                            width: 50px;
                            height: 3px;
                            background: #5DB234;
                            margin: 15px auto;
                        }
                        p{
                            color: #AFAFAF;
                            text-align: left;
                            margin: 0 10%;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            display: -webkit-box;
                            -webkit-line-clamp: 2;
                            -webkit-box-orient: vertical;
                        }
                    }
                    .btn{
                        margin: 30px 0 0;
                        a{
                            color: #5DB234;
                            @include flex_center;
                            text-align: center;
                            position: relative;
                            i{
                                width: 20px;
                                height: 10px;
                                position: relative;
                                &:before{
                                    content:"";
                                    display: block;
                                    position: absolute;
                                    top: 50%;
                                    left: 50%;
                                    transform: translate(-50%,-50%);
                                    background: #5DB234;
                                    height:10px;
                                    width: 2px;
                                }
                                &:after{
                                    content:"";
                                    display: block;
                                    position: absolute;
                                    top: 50%;
                                    left: 50%;
                                    transform: translate(-50%,-50%);
                                    background: #5DB234;
                                    width: 10px;
                                    height: 2px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

}


#deps05{
    margin: 0 0 100px 0;
    ul{
        @include flex_between;
        li{
            width: 50%;
            color: #fff;
            &:first-child{
                background-color: #1F84DC;
                .txt{
                    @include flex_between;
                    padding: 5% 5% 5% 13%;
                }
            }
            &:last-child{
                background-color: #5DB234;
                .txt{
                    @include flex_between;
                    padding: 5% 13% 5% 5%;
                }
            }
            .txt{
                h3{
                    font-weight: 500;
                }
                p{
                    margin: 10px 0 0;
                    color: rgba(255,255,255,.5);
                }
            }
           
        }
    }
}


@include breakpoint_desktop_1920 {
    #deps01{
        .mainSwiper{
            .swiper-slide{
                height: 90vh;
                .txt{
                    p{
                        margin: 5% 0 7%;
                    }
                }
            }
            .swiper-pagination{
                bottom: 100px;
            }
        }
    }
   

    #deps02{
        .top_bannner{
            max-width: 100%;
        }
    }
}


@include breakpoint_desktop_1600 {
    #deps02 {
        article {
            .academy{
                &:after{
                    width: 85%;
                }
            }
        }
    }
    #deps03{
        .ma_namal{
            font-size: 1.3rem;
        }
        .ma_box{
            font-size: 1rem;
        }

        .thumb_box{
            .le_box{
                .txt{
                    .btn{
                        a{
                            padding: 0px 18px;
                            line-height: 30px;
                        }
                    }
                }
            }
            ul{
                li{
                    .txt{
                        .btn{
                            a{
                                padding: 0px 18px;
                                line-height: 30px;
                            }
                        }
                    }
                }
            }
        }
    }
    
    #deps05{
        .ma_cate{
            font-size: 2rem;
        }
        .ma_box{
            font-size: 1rem;
        }
    }
}



@include breakpoint_desktop_1360{
    #deps02 {
        .top_bannner {
            ul {
                li{
                    &:last-child{
                        width: 80%;
                    }
                }
            }
        }
    }
    #deps05{
        .ma_cate{
            font-size: 1.5rem;
        }
        .ma_box{
            font-size: .9rem;
        }
   
        ul{
            li{
                &:first-child{
                    height: 150px;
                    .txt{
                        padding: 5% 5% 5% 10%;
                        height: 100%;
                    }
                }
                &:last-child{
                    height: 150px;
                    .txt{
                        padding: 5% 10% 5% 5%;
                        height: 100%;
                    }
                }
                .txt{
                    h3{
                        i{
                            width: 50px;
                            display: inline-block;
                        }
                    }
                    .arrow{
                        width: 35px;
                    }
                }
            }
        }
     
    }
}


@include breakpoint_desktop_1280 {
    .ma_bic{
        font-size: 4.5625rem;
    }
    .ma_title{
        font-size: 2.125rem;
    }
    .ma_s_title{
        font-size: 1rem;
    }
    #contents{
        padding-top: 137px;
    }

    #deps02 {
        .ma_txt{
            font-size: 1.2rem;
        }
        article {
            &:after{
                height: 430px;
            }
            .txt{
                p{
                    .none{
                        display: none;
                    }
                }
            }
        }
    }
    #deps04{
        .ma_namal{
            font-size: 1.5rem;
        }
        .ma_small{
            font-size: 1rem;
        }

        .thumb_box {
            ul {
                li{
                    .txt {
                        .box{
                            p{
                                margin: 0 5%;
                            }
                        }
                        .btn{
                            margin: 20px 0 0;
                        }
                    }
                }
            }
        }
    }
    
}


@include breakpoint_tablet_1024{
    .ma_bic{
        font-size:3.4625rem;
    }
    .ma_txt{
        font-size: 1.2rem;
    }
    #contents{
        padding-top: 110px;
    }
    #deps01 {
        .mainSwiper {
            .swiper-slide {
                .txt {
                    h3{
                        
                    }
                }
            }
        }
    }
  
    #deps02 {
        article{
            padding: 50px 0 0;
            margin-bottom: 50px;
            &:after{
                height: 645px;
            }
            .title{
                margin: 50px auto 0;
            }
            
             .academy{
                flex-wrap: wrap;
                &::after{
                    display: none;
                }
                li{
                    flex: 1 1 30%;
                    position: relative;
                    margin: 0 0 50px 0;
                    &:after{
                        content:"";
                        display: block;
                        position: absolute;
                        top: 90%;
                        left: 50%;
                        width: 100%;
                        height: 2px;
                        background: #AFAFAF;
                        z-index: -1;
                    }
                    &:nth-of-type(3n){
                        &:after{
                            display: none;
                        }
                    }
                    &:last-child{
                    
                        &:after{
                            display: none;
                        }
                    }
                }
             }
        }
        .top_bannner{
            top: 0;
            ul{
                flex-direction: column;
                width: 100%;
                li{
                    .top_box{
                        justify-content: center;
                    }
                    &:first-child{
                        width: 70%;
                        margin: 0 0 10px 0;
                    }
                    &:last-child{
                        width: 100%;
                        display: flex;
                        justify-content: center;
                        .f_box{
                            flex-direction: column;
                            align-items: start;
                            .top_box{
                                margin: 0;
                            }
                        }
                    }
                }
            }
        }
    }
    #deps03 {
        .thumb_box{
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .le_box{
                width: 80%;
            }
            ul{
                width: 80%;
            }
        }
    }

    #deps04 {
        .thumb_box{
            ul{
                li{
                    width: 48%;
                }
            }
        }
    }
    #deps05 {
        ul{
            flex-direction: column;
            li{
                width: 100%;
                
                &:first-child{
                    height: auto;
                    .txt{
                        padding: 5% 15%;
                    }
                }
                &:last-child{
                    height: auto;
                    .txt{
                        padding: 5% 15%;
                    }
                }
                
            }
        }
    }
}



@include breakpoint_tablet_768 {
    #contents{
        padding-top: 95px;
    }
    #deps01 {
        .mainSwiper {
            .swiper-slide {
                .txt {
                    h3{
                        line-height: 1.3;
                        &:after{
                            display: none;
                        }
                        small{
                            padding: 0 0 10px 0;
                            text-align: center;
                        }
                    }
                    p{
                        .none{
                            display: none;
                        }
                    }
                }
            }
        }
    }

    #deps02 {
        article {
            .academy {
                li{
                    flex: 1 1 42%;
                    &:nth-of-type(2n){
                        &::after{
                            display: none;
                        }
                    }
                    &:nth-of-type(3n){
                        &::after{
                            display: block;
                        }
                    }
                }
            }
        }
        .top_bannner{
            ul{
                li{
                    &:first-child{
                        margin: 0 0 15px 0;
                        width: 100%;
                    }
                    
                }
            }
        }
    }
    #deps03 {
        padding: 50px 0;
        .thumb_box{
            .le_box{
                width: 100%;
            }
            ul{
                width: 100%;
            }
        }
    }
    #deps04{
        margin: 0 0 50px 0;
    }
    #deps05 {
        margin: 0 0 50px 0;
        ul{
            li{
                &:first-child{
                    height: 165px;
                    .txt{
                        padding: 5%;
                    }
                }
                &:last-child{
                    height: 165px;
                    .txt{
                        padding: 5%;
                    }
                }
                
            }
        }
    }
}




@include breakpoint_mobile_640 {
    #deps02 {
        article {
            .academy{
                top: 50px;
            }
        }
    }
}




@include breakpoint_mobile_540{
    
    #deps02 {
        .top_bannner {
            padding:20px 15px 10px;
            ul{
                li {
                    .f_box {
                        .top_box{
                            i{
                                width: 57px;
                                margin: 0 3% 0 0;
                            }
                        }
                    }
                }
            }
        }
    }


   
}



@include breakpoint_mobile_480 {
    .ma_bic{
        font-size: 2.4625rem;
    }
    .ma_box{
        font-size: 1rem;
    }
    #contents{
        padding-top: 84px;
    }


    #deps01 {
        .mainSwiper {
            .swiper-pagination{
                bottom: 25px;
            }
            .swiper-slide {
              
                .txt {
                    h3{
                        small{
                            padding: 0 0 5px 0;
                        }
                    }
                }
                .btn{
                    ul{
                        li{
                            a{
                                padding: 10px 20px;
                                &.ma_box{
                                    font-size: .8rem;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    #deps02 {
        .top_bannner {
            ul{
                li{
                    &:last-child{
                        justify-content: start;
                    }
                    &:last-child{
                        .f_box{
                            .top_box{
                                width: 100%;
                                justify-content: start;
                            }
                            
                        }
                    }
                }
            }
        }
    }
    #deps03 {
        .thumb_box {
            ul{
                li{
                    flex: 1 1 100%;
                    .txt{
                        text-align: center;
                        .box{
                            justify-content: center;
                        }
                    }
                }
            }
        }
    }
    #deps04 {
        .thumb_box{
            ul{
                li{
                    width: 100%;
                    margin: 0 0 20px 0;
                    .txt{
                        .box{
                            p{
                                margin: 0;
                            }
                        }
                    }
                }
            }
        }
    }
}


@include breakpoint_mobile_414{
    .ma_bic{
        font-size: 1.8rem;
    }
    .ma_txt{
        font-size: .9rem;
    }
    .ma_box{
        font-size: .9rem;
    }
    .ma_title{
        font-size: 1.8rem;
    }
    #contents{
        padding-top: 70px;
    }
    #deps01 {
        .mainSwiper {
            .swiper-slide{
               
                .txt{
                    h3{
                        padding: 0;
                    }
                    p{
                        margin: 5% 0;
                    }
                }
            }
        }
    }
   

}



