.s_bic {
  font-size: 3.125rem;
}

.sub_title {
  font-size: 1.875rem;
  font-weight: 400;
  padding: 30px 0 0;
  margin: 20px 0 0;
  position: relative;
}
.sub_title:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 70px;
  height: 1px;
  background: #fff;
}

#sub_visual {
  background: url("../img/sub_visual01.jpg") no-repeat;
  width: 100%;
  height: 500px;
  background-size: cover;
  background-position: center;
  position: relative;
}
#sub_visual .title {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  padding: 0 0 100px 0;
}
#sub_visual .inner {
  height: 100%;
  position: relative;
}

#category {
  background: #fff;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
#category ul {
  display: flex;
  align-items: center;
  height: 100px;
  padding: 0 3%;
}
#category ul li {
  width: auto;
  margin: 0 10px;
  text-align: center;
}
#category ul li.arrow {
  position: relative;
  width: 10px;
  margin: 0 5px;
}
#category ul li.arrow:after {
  position: absolute;
  left: 0;
  top: -4px;
  content: "";
  width: 10px;
  height: 10px;
  border-top: 2px solid #AFAFAF;
  border-right: 2px solid #AFAFAF;
  transform: rotate(45deg);
}
#category ul li.home {
  width: 40px;
  margin: 0;
}
#category ul li.home a {
  font-weight: 600;
  transform: skew(-0.1deg);
}
#category ul li a {
  color: #AFAFAF;
  font-weight: 400;
  transform: skew(-0.1deg);
  font-size: 1rem;
}
#category ul li a.font_w {
  font-weight: 600;
  color: #000;
}

#greetings_area {
  position: relative;
}
#greetings_area .inner {
  width: 70%;
}
#greetings_area .top {
  display: flex;
  text-align: center;
  margin: -2% 0 0;
}
#greetings_area .top h5 {
  font-size: 2.1875rem;
  font-weight: 400;
  text-align: left;
  margin: 10% 7% 0 0;
}
#greetings_area .top figure span {
  font-size: 1.5625rem;
  color: #fff;
  letter-spacing: 5px;
}
#greetings_area .txt_box {
  margin: -9% 0 0;
  background: #4275B1;
}
#greetings_area .txt_box .inner {
  width: 70%;
  padding: 11% 0 5%;
}
#greetings_area .txt_box .inner li {
  font-size: 1.375rem;
  color: #fff;
  text-align: left;
  margin: 0 0 30px 0;
  line-height: 1.7;
}
#greetings_area .txt_box .inner li.thanks {
  margin: 50px 0 10px;
}
#greetings_area .txt_box .inner li.last {
  font-size: 2.1875rem;
}
#greetings_area .txt_box .inner li.last img {
  margin: 0 0 0 10px;
}

#greetings_profile {
  padding: 100px 0;
}
#greetings_profile .title {
  text-align: center;
}
#greetings_profile .title h6 {
  font-size: 1.875rem;
  color: #707070;
}
#greetings_profile .title h6 span {
  font-weight: 400;
}
#greetings_profile .inner {
  width: 70%;
}
#greetings_profile .inner ul {
  margin: 100px 0 0;
  display: flex;
  flex-wrap: wrap;
}
#greetings_profile .inner ul li {
  width: 32%;
  border-right: 1px solid #E5E5E5;
  padding: 0 4% 0 0;
}
#greetings_profile .inner ul li:first-child {
  padding: 0 4% 0 0;
  margin: 0 4% 0 0;
}
#greetings_profile .inner ul li:first-child .record p {
  margin: 0 0 10px 0;
}
#greetings_profile .inner ul li:first-child .record p:last-child {
  margin: 0;
}
#greetings_profile .inner ul li:last-child {
  padding: 0 0 0 4%;
  border-right: 0;
}
#greetings_profile .inner ul li .con {
  border-radius: 100%;
  margin: 0 auto 70px;
}
#greetings_profile .inner ul li .con i {
  display: block;
}
#greetings_profile .inner ul li .con .line {
  width: 45px;
  margin: 20px auto;
  height: 2px;
  background: #1D63AA;
}
#greetings_profile .inner ul li .con span {
  font-size: 1.8125rem;
  font-weight: 600;
}
#greetings_profile .inner ul li .record p {
  text-align: center;
  font-size: 1.3125rem;
  color: #707070;
  margin: 0 0 20px 0;
}
#greetings_profile .inner ul li .record p:last-child {
  margin: 0;
}

#corporate_area {
  padding: 70px 0 100px;
}
#corporate_area .inner {
  width: 70%;
}
#corporate_area .title {
  text-align: center;
  margin: 0 0 70px 0;
}
#corporate_area .title h3 {
  font-size: 2.5rem;
}
#corporate_area .title h3 span {
  font-weight: 400;
  margin: 0 5px 0 0;
}
#corporate_area .title h4 {
  color: #707070;
  margin: 10px 0 0;
  font-weight: 400;
  font-size: 1.125rem;
}

#corporation_area {
  padding: 70px 0 100px;
}
#corporation_area .inner {
  text-align: center;
}
#corporation_area .title {
  background: url("../img/corporation_con.png") no-repeat left center;
  display: inline-block;
  padding: 20px 0 20px 170px;
}
#corporation_area .title span {
  font-size: 1.875rem;
}
#corporation_area .title h3 {
  font-size: 2.5rem;
  font-weight: 400;
}
#corporation_area p.sub {
  text-align: center;
  font-size: 1.125rem;
  color: #707070;
  margin: 50px 0 0;
}
#corporation_area .activity {
  padding: 120px 0 0;
}
#corporation_area .activity .top h4 {
  position: relative;
  font-size: 1.875rem;
}
#corporation_area .activity .top h4:after {
  content: "";
  display: block;
  width: 65px;
  height: 1px;
  background: #707070;
  position: absolute;
  top: -17px;
  left: 50%;
  transform: translateX(-50%);
}
#corporation_area .activity .top h4 span {
  font-weight: 400;
}
#corporation_area .activity ul {
  display: flex;
  margin: 70px 0 0;
}
#corporation_area .activity ul li {
  width: 18.8%;
  background: #fff;
  margin: 0 1.5% 0 0;
  box-shadow: 1px 4px 5px #ddd;
}
#corporation_area .activity ul li:last-child {
  margin: 0;
}
#corporation_area .activity ul li h5 {
  font-size: 1.25rem;
  padding: 30px 5%;
  font-weight: 400;
}

#board_area {
  margin: 100px 0;
}

@media (max-width: 1440px) {
  #greetings_area .top h5 {
    font-size: 1.8rem;
    margin: 10% 3% 0 0;
  }
}
@media (max-width: 1280px) {
  .s_bic {
    font-size: 2.125rem;
  }
  .sub_title {
    font-size: 1.3rem;
    padding: 17px 0 0;
    margin: 10px 0 0;
  }
  #sub_visual {
    height: 300px;
  }
  #sub_visual .title {
    padding: 0 0 70px 0;
  }
  #category ul {
    height: 70px;
  }
  #greetings_area .inner {
    width: 80%;
  }
  #greetings_area .top figure {
    width: 70%;
  }
  #greetings_area .top figure span {
    font-size: 1.3rem;
  }
  #greetings_area .txt_box .inner {
    width: 80%;
  }
  #greetings_area .txt_box .inner li {
    font-size: 1.1rem;
    margin: 0 0 20px 0;
  }
  #greetings_area .txt_box .inner li.last {
    font-size: 1.8rem;
  }
  #greetings_area .txt_box .inner li.last img {
    width: 150px;
  }
  #greetings_profile .title h6 {
    font-size: 1.5rem;
  }
  #greetings_profile .inner {
    width: 80%;
  }
  #greetings_profile .inner ul {
    margin: 70px 0 0;
  }
  #greetings_profile .inner ul li .record p {
    font-size: 1.1rem;
    margin: 0 0 10px 0;
  }
  #greetings_profile .inner ul li .con {
    margin: 0 auto 50px;
  }
  #corporate_area .inner {
    width: 80%;
  }
  #corporate_area .title h3 {
    font-size: 2rem;
  }
  #corporate_area .title h4 {
    font-size: 1rem;
    margin: 5px 0 0;
    transform: skew(-0.1deg);
  }
  #corporation_area .title {
    padding: 10px 0 10px 120px;
    background-size: 90px auto;
  }
  #corporation_area .title span {
    font-size: 1.3rem;
  }
  #corporation_area .title h3 {
    font-size: 1.7rem;
  }
  #corporation_area p.sub {
    font-size: 1rem;
    margin: 30px 0 0;
    line-height: 1.7;
    transform: skew(-0.1deg);
  }
  #corporation_area p.sub .none {
    display: none;
  }
  #corporation_area .activity {
    padding: 80px 0 0;
  }
  #corporation_area .activity ul {
    margin: 30px 0 0;
  }
  #corporation_area .activity ul li h5 {
    font-size: 1rem;
    transform: skew(-0.1deg);
  }
}
@media (max-width: 1024px) {
  #greetings_area .top h5 {
    margin: 13% 3% 5% 0;
    font-size: 1.3rem;
  }
}
@media (max-width: 900px) {
  #greetings_area .top h5 {
    margin: 9% 3% 5% 0;
  }
  #corporation_area .activity ul {
    flex-wrap: wrap;
  }
  #corporation_area .activity ul li {
    width: 32%;
    margin: 0 2% 20px 0;
  }
  #corporation_area .activity ul li:nth-of-type(3n) {
    margin: 0 0 20px 0;
  }
  #corporation_area .activity ul li:last-child {
    margin: 0 0 20px 0;
  }
}
@media (max-width: 768px) {
  #board_area {
    margin: 70px 0;
  }
  #greetings_area .top {
    flex-direction: column;
    margin: 70px 0 0;
  }
  #greetings_area .top h5 {
    text-align: center;
    margin: 0 0 50px 0;
  }
  #greetings_area .top figure {
    width: auto;
    margin: 0 20%;
  }
  #greetings_area .top figure span {
    font-weight: 600;
  }
  #greetings_area .txt_box {
    margin: -20% 0 0;
  }
  #greetings_area .txt_box .inner {
    padding: 27% 0 5%;
  }
  #greetings_profile {
    padding: 70px 0;
  }
  #greetings_profile .inner ul {
    margin: 50px 0 0;
    justify-content: center;
  }
  #greetings_profile .inner ul li {
    width: 47%;
  }
  #greetings_profile .inner ul li:nth-of-type(2n) {
    border-right: 0;
  }
  #greetings_profile .inner ul li:first-child {
    margin: 0 6% 0 0;
    padding: 0 6% 0 0;
  }
  #greetings_profile .inner ul li:last-child {
    margin: 50px 0 0;
    padding: 0;
  }
  #corporate_area {
    padding: 50px 0;
  }
  #corporate_area .inner {
    width: 90%;
  }
  #corporate_area .title {
    margin: 0 0 30px 0;
  }
  #corporation_area {
    padding: 50px 0;
  }
  #corporation_area .inner {
    width: 90%;
  }
  #corporation_area .title {
    padding: 100px 0 0;
    background-size: 90px auto;
    background-position: top center;
  }
  #corporation_area .activity ul li h5 {
    padding: 25px 5%;
  }
}
@media (max-width: 540px) {
  #greetings_profile .inner ul li {
    width: 70%;
    padding: 0;
  }
  #greetings_profile .inner ul li:first-child {
    margin: 0 0 50px 0;
    padding: 0;
    border: 0;
  }
  #greetings_profile .inner ul li .con i {
    margin: 0 8%;
  }
}
@media (max-width: 480px) {
  .s_bic {
    font-size: 1.5rem;
  }
  .sub_title {
    font-size: 1rem;
    padding: 13px 0 0;
    margin: 8px 0 0;
  }
  .sub_title:after {
    width: 50px;
  }
  #sub_visual {
    height: 220px;
  }
  #sub_visual .title {
    padding: 0 0 60px 0;
  }
  #category ul {
    height: 60px;
  }
  #greetings_area .txt_box .inner {
    padding: 30% 0 5%;
  }
  #greetings_profile .inner {
    width: 90%;
  }
  #corporate_area .title h3 {
    font-size: 1.5rem;
  }
  #corporation_area .activity .top h4 {
    font-size: 1.5rem;
  }
  #corporation_area .activity .top h4:after {
    width: 50px;
    top: -10px;
  }
  #corporation_area .activity ul li {
    width: 49%;
  }
  #corporation_area .activity ul li:nth-of-type(2n) {
    margin: 0 0 20px 0;
  }
  #corporation_area .activity ul li:nth-of-type(3n) {
    margin: 0 2% 20px 0;
  }
  #corporation_area .activity ul li h5 {
    font-size: 1rem;
    transform: skew(-0.1deg);
  }
}
@media (max-width: 414px) {
  #category ul {
    padding: 0 5%;
    height: 55px;
  }
  #category ul li {
    margin: 0 4px;
  }
  #category ul li.home {
    width: 20px;
  }
  #category ul li.arrow:after {
    height: 7px;
    width: 7px;
    border-top: 1px solid #AFAFAF;
    border-right: 1px solid #AFAFAF;
  }
  #category ul li a {
    font-size: 0.9rem;
  }
  #greetings_profile .inner ul {
    margin: 30px 0 0;
  }
  #greetings_profile .inner ul li {
    width: 100%;
  }
  #greetings_profile .inner ul li .con {
    margin: 0 auto 30px;
  }
  #greetings_profile .inner ul li .con i {
    margin: 0 22%;
  }
  #greetings_profile .inner ul li .record p {
    font-size: 1rem;
    transform: skew(-0.1deg);
  }
  #greetings_area .top figure {
    margin: 0 10%;
  }
  #greetings_area .top figure span {
    font-size: 1rem;
    transform: skew(-0.1deg);
  }
  #greetings_area .top h5 {
    transform: skew(-0.1deg);
    font-size: 1.1rem;
    margin: 0 0 30px 0;
  }
  #greetings_area .txt_box {
    margin: -27% 0 0;
  }
  #greetings_area .txt_box .inner {
    padding: 38% 0 5%;
  }
  #greetings_area .txt_box .inner li {
    font-size: 1rem;
    transform: skew(-0.1deg);
  }
  #greetings_area .txt_box .inner li.thanks {
    margin: 30px 0 0px;
  }
  #greetings_area .txt_box .inner li.last {
    font-size: 1.3rem;
  }
  #greetings_area .txt_box .inner li.last img {
    width: 115px;
  }
  #corporation_area .title {
    padding: 80px 0 0;
    background-size: 70px auto;
  }
  #corporation_area .title span {
    transform: skew(-0.1deg);
    font-size: 1.1rem;
  }
  #corporation_area .title h3 {
    font-size: 1.4rem;
  }
}/*# sourceMappingURL=sub.css.map */
