@import "_mixin";


//서브타이틀 공통
.s_bic{
    font-size: 3.125rem;
}
.sub_title{
    font-size: 1.875rem;  
    font-weight: 400;
    padding: 30px 0 0;
    margin: 20px 0 0;
    position: relative;
    
    &:after{
        content:"";
        display: block;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 70px;
        height: 1px;
        background: #fff;
    }
}




#sub_visual{
    background: url("/img/sub_visual01.jpg")no-repeat;
    width: 100%;
    height:500px;
    background-size: cover;
    background-position: center;
    position: relative;
    .title{
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        height: 100%;
        padding: 0 0 100px 0;
    }
    .inner{
        height: 100%;
        position: relative;
    }
}


//서브카테고리
#category{
    background: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    ul{
        display: flex;
        align-items: center;
        height: 100px;
        padding: 0 3%;
        li{
            width: auto;
            margin: 0 10px;
            text-align: center;
            &.arrow{
                position: relative;
                width: 10px;
                margin: 0 5px;
                &:after{
                    position: absolute;
                    left: 0; 
                    top: -4px; 
                    content: '';
                    width: 10px; 
                    height: 10px; 
                    border-top: 2px solid #AFAFAF; 
                    border-right: 2px solid #AFAFAF; 
                    transform: rotate(45deg);
                }
            }
            &.home{
                width: 40px;
                margin: 0;
                a{
                    font-weight: 600;
                    transform:skew(-0.1deg);

                }
            }
            a{
                color: #AFAFAF;
                font-weight: 400;
                transform:skew(-0.1deg);
                font-size: 1rem;
                &.font_w{
                    font-weight: 600;
                    color: #000;
                }
            }
        }
    }
}


#greetings_area{
    position: relative;
    .inner{
        width: 70%;
    }
    .top{
        display: flex;
        text-align: center;
        margin: -2% 0 0;
        h5{
            font-size:  2.1875rem;
            font-weight: 400;
            text-align: left;
            margin: 10% 7% 0 0;

        }
        figure{
 
            span{
                font-size: 1.5625rem;
                color: #fff;
                letter-spacing: 5px;
            }
        }
    }
    .txt_box{
        margin: -9% 0 0;
        background: #4275B1;
        .inner{
            width: 70%;
            padding: 11% 0 5%;
            li{
                font-size: 1.375rem;
                color: #fff;
                text-align: left;
                margin: 0 0 30px 0;
                line-height: 1.7;
                &.thanks{
                    margin:50px 0 10px;
                }
                &.last{
                    font-size: 2.1875rem;
                    img{
                        margin: 0 0 0 10px;
                    }
                }
            }
        }
    }
}

#greetings_profile{
    padding: 100px 0;
    .title{
        text-align: center;
        h6{
            font-size: 1.875rem;
            color: #707070;
            span{
                font-weight: 400;
            }
        }
    }
    .inner{
        width: 70%;
        ul{
            margin: 100px 0 0;
            display: flex;
            flex-wrap: wrap;
            li{
                width: 32%;
                border-right: 1px solid #E5E5E5;
                padding: 0 4% 0 0;
                &:first-child{
                    padding: 0 4% 0 0;
                    margin: 0 4% 0 0;
                    .record{
                        p{
                            margin: 0 0 10px 0;
                            &:last-child{
                                margin: 0;
                            }
                        }
                    }
                }
                &:last-child{
                    padding: 0 0 0 4%;
                    border-right: 0;
                }
                .con{
                    
                    border-radius: 100%;
                    margin: 0 auto 70px;
                    i{
                        display: block;
                    }
                    .line{
                        width: 45px;
                        margin: 20px auto;
                        height: 2px;
                        background: #1D63AA;
                    }
                    span{
                        font-size: 1.8125rem;
                        font-weight: 600;
                    }
                }
                .record{
                    p{
                        text-align: center;
                        font-size: 1.3125rem;
                        color: #707070;
                        margin: 0 0 20px 0;
                        &:last-child{
                            margin: 0;
                        }
                    }
                }
            }
        }
    }
}

#corporate_area{
    padding: 70px 0 100px;
    .inner{
        width: 70%;
    }
    .title{
        text-align: center;
        margin: 0 0 70px 0;
        h3{
            font-size: 2.5rem;
            span{
                font-weight: 400;
                margin: 0 5px 0 0;
            }
        }
        h4{
            color: #707070;
            margin: 10px 0 0;
            font-weight: 400;
            font-size: 1.125rem;
        }
    }
    
}

#corporation_area{
    padding: 70px 0 100px;
    .inner{
        text-align: center;
    }
    .title{
        background: url("/img/corporation_con.png")no-repeat left center;
        display: inline-block;
        padding: 20px 0 20px 170px;
        span{
            font-size:  1.875rem;
        }
        h3{
            font-size: 2.5rem;
            font-weight: 400;
        }
        
    }
    p.sub{
        text-align: center;
        font-size: 1.125rem;
        color: #707070;
        margin: 50px 0 0;
    }
    .activity{
        padding: 120px 0 0;
        .top{
            h4{
                position: relative;
                font-size:  1.875rem;
                &:after{
                    content:"";
                    display: block;
                    width: 65px;
                    height: 1px;
                    background: #707070;
                    position: absolute;
                    top: -17px;
                    left: 50%;
                    transform: translateX(-50%);
                }
                span{
                    font-weight: 400;
                }
            }
        }
        ul{
            display: flex;
            margin: 70px 0 0;
            li{
                width: 18.8%;
                background: #fff;
                margin: 0 1.5% 0 0;
                box-shadow: 1px 4px 5px #ddd;
                &:last-child{
                    margin: 0;
                }
                h5{
                    font-size: 1.25rem;
                    padding: 30px 5%;
                    font-weight: 400;
                }
            }
        }
    }
}

#board_area{
    margin: 100px 0;
}











@include breakpoint_desktop_1440{
    #greetings_area{
        .top{
            h5{
                font-size: 1.8rem;
                margin: 10% 3% 0 0;
            }
        }
    }
}

@include breakpoint_desktop_1280{
    .s_bic{
        font-size: 2.125rem;
    }
    .sub_title{
        font-size: 1.3rem;
        padding: 17px 0 0;
        margin: 10px 0 0;
    }
    #sub_visual{
        height: 300px;
        .title{
            padding: 0 0 70px 0;
        }
    }
    #category {
        ul{
            height: 70px;
        }
    }

    #greetings_area {
        .inner{
            width: 80%;
        }
        .top{
         
            figure{
                width: 70%;
                span{
                    font-size: 1.3rem;
                }
            }
        }
        .txt_box{
           .inner{
                width: 80%;
                li{
                    font-size: 1.1rem;
                    margin: 0 0 20px 0;
                    &.last{
                        font-size: 1.8rem;
                        img{
                            width: 150px;
                        }
                    }
                }
           }
        }
    }
    #greetings_profile{
        .title{
            h6{
                font-size: 1.5rem;
            }
        }
        .inner{
            width: 80%;
            ul {
                margin: 70px 0 0;
                li{
                    .record{
                        p{
                            font-size: 1.1rem;
                            margin: 0 0 10px 0;
                        }
                    }
                    .con{
                        margin: 0 auto 50px;
                    }
                }
            }
        }
    }
    #corporate_area{
        .inner{
            width: 80%;
        }
        .title{
            h3{
                font-size: 2rem;
            }
            h4{
                font-size: 1rem;
                margin: 5px 0 0;
                transform: skew(-0.1deg);
            }
        }
    }
    #corporation_area{
        .title{
            padding: 10px 0 10px 120px;
            background-size: 90px auto;
            span{
                font-size: 1.3rem;
            }
            h3{
                font-size: 1.7rem;
            }
        }
        p.sub{
            font-size: 1rem;
            margin: 30px 0 0;
            line-height: 1.7;
            transform: skew(-0.1deg);
            .none{
                display: none;
            }
        }
        .activity{
            padding: 80px 0 0;
            
            ul{
                margin: 30px 0 0;
                li{
                    h5{
                        font-size: 1rem;
                        transform: skew(-0.1deg);
                    }
                }
            }
        }
    }
}









@include breakpoint_tablet_1024{
    #greetings_area {
        .top {
            h5{
                margin: 13% 3% 5% 0;
                font-size: 1.3rem;
            }
            
        }
    }

}



@include breakpoint_tablet_900{
    #greetings_area {
        .top {
            h5{
                margin: 9% 3% 5% 0;
            }
        }
    }
    #corporation_area {
        .activity {
            ul{
                flex-wrap: wrap;
                li{
                    width: 32%;
                    margin: 0 2% 20px 0;
                    &:nth-of-type(3n){
                        margin: 0 0 20px 0;
                    }
                    &:last-child{
                        margin:  0 0 20px 0;
                    }
                }
            }
        }
    }
}






@include breakpoint_tablet_768{
    #board_area{
        margin:70px 0;
    }
    
    #greetings_area {
   
        .top{
            flex-direction: column;
            margin: 70px 0 0;
            h5{
                text-align: center;
                margin:0 0 50px 0;
         
            }
            figure{
                width: auto;
                margin: 0 20%;
                span{
                    font-weight: 600;
                }
            }
        }
        .txt_box{
            margin: -20% 0 0;
            .inner{
                padding: 27% 0 5%;
            }
        }
    }
    #greetings_profile{
        padding: 70px 0;
        .inner{
            ul{
                margin: 50px 0 0;
                justify-content: center;
                li{
                    width: 47%;
                    
                    &:nth-of-type(2n){
                        border-right: 0;
                   
                    }
                    &:first-child{
                        margin: 0 6% 0 0;
                        padding: 0 6% 0 0;
                    }
                    &:last-child{
                        margin: 50px 0 0;
                        padding: 0;
                    }
                }
            }
        }
    }
    #corporate_area{
        padding: 50px 0;
        .inner{
            width: 90%;
        }
        .title{
            margin: 0 0 30px 0;
        }
    }
    #corporation_area{
        padding: 50px 0;
        .inner{
            width: 90%;
        }
        .title{
            padding: 100px 0 0;
            background-size: 90px auto;
            background-position: top center;
        }
        .activity {
            ul{
                li{
                    h5{
                        padding: 25px 5%;
                    }
                }
            }
        }
    }
}






@include breakpoint_mobile_540{
    #greetings_profile{
        .inner{
            ul{
                li{
                    width: 70%;
                    padding: 0;
                    &:first-child{
                        margin: 0 0 50px 0;
                        padding: 0;
                        border: 0;
                    }
                    .con{
                        i{
                            margin: 0 8%;
                        }
                    }
                }
            }
        }
    }
}



@include breakpoint_mobile_480{
    .s_bic{
        font-size: 1.5rem;
    }
    .sub_title{
        font-size: 1rem;
        padding: 13px 0 0;
        margin: 8px 0 0;
        &:after{
            width: 50px;
        }
    }
    #sub_visual{
        height: 220px;
        .title{
            padding: 0 0 60px 0;
        }
    }
    #category {
        ul{
            height: 60px;
        }
    }
    #greetings_area {
        
        .txt_box{
            .inner{
                padding: 30% 0 5%;
            }
        }
    }
    #greetings_profile {
        .inner{
            width: 90%;
        }
    }
    #corporate_area {
        .title{
            h3{
                font-size: 1.5rem;
            }
        }
    }
    #corporation_area{
        .activity{
            .top{
                h4{
                    font-size: 1.5rem;
                    &:after{
                        width: 50px;
                        top: -10px;
                    }
                }
            }
            ul{
                
                li{
                    width: 49%;
                    &:nth-of-type(2n){
                        margin: 0 0 20px 0;
                    }
                    &:nth-of-type(3n){
                        margin: 0 2% 20px 0;
                    }
                    h5{
                        font-size: 1rem;
                        transform: skew(-0.1deg);
                    }
                }
            }
        }
    }
}


@include breakpoint_mobile_414{
    #category {
        ul{
            padding: 0 5%;
            height: 55px;
            li{
                margin: 0 4px;
                &.home{
                    width: 20px;
                }
                &.arrow{
                    &:after{
                        height: 7px;
                        width: 7px;
                        border-top: 1px solid #AFAFAF;
                        border-right: 1px solid #AFAFAF;
                    }
                }
                a{
                    font-size: .9rem;
                }
            }
        }
    }
    #greetings_profile{
        .title {
            h6{
                
            }
        }
        .inner {
            ul{
                margin: 30px 0 0;
                li{
                    width: 100%;
                    .con{
                        margin: 0 auto 30px;
                        i{
                            margin: 0 22%;
                        }
                    }
                    .record{
                        p{
                            font-size: 1rem;
                            transform: skew(-0.1deg);
                        }
                    }
                }
            }
        }
    }

    #greetings_area {
        .top{
            figure{
                margin: 0 10%;
                span{
                    font-size: 1rem;
                    transform: skew(-0.1deg);
                }
            }
            h5{
                transform: skew(-0.1deg);
                font-size: 1.1rem;
                margin: 0 0 30px 0;
            }
        }
        .txt_box {
            margin: -27% 0 0;
            .inner {
                padding: 38% 0 5%;
                li{
                    font-size: 1rem;
                    transform: skew(-0.1deg);
                    &.thanks{
                        margin: 30px 0 0px;
                    }
                    &.last{
                        font-size: 1.3rem;
                        img{
                            width: 115px;
                        }
                    }
                }
            }
        }
    }
    #corporation_area {
        .title {
            padding: 80px 0 0;
            background-size: 70px auto;
            span{
                transform: skew(-0.1deg);
                font-size: 1.1rem;
            }
            h3{
                font-size: 1.4rem;
            }
        }
    }
}